# Projeto #1 - Análise Exploratória de Dados

Antes de começar, leia as [Instruções](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_1#instru%C3%A7%C3%B5es) e os [Critérios de Avaliação](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_1#crit%C3%A9rios-de-avalia%C3%A7%C3%A3o)

### 1) **(5%)** Qual a base escolhida e qual seu interesse nela?

In [0]:
A base escolhida é entitulada "Suicide Rates Overview 1985 to 2016" (in, https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016), e, seu objeto é a análise comparativa de informações sócio-econômicas com as taxas de sucicídio dos países no período de 1985 a 2016. De acordo com a Organização Mundial de Saúde, um suicídio ocorre a cada 40 segundos no mundo, ou seja, tais morte já se tornaram um problema de saúde pública, e como tal, devem ser prevenidas através de políticas pública, com programas de saúde e educação, cuja formulação pode ser embasada através dos dados em questão.

*Indique o link da base no Kaggle e explique em um parágrafo curto por que essa base é interessante para você.*

### 2) **(5%)** Descrição básica do conjunto de dados escolhido pelo aluno (1 parágrafo).
- Identificação da variável a serem trabalhadas
- Classificação das variáveis como: contínua ou discreta.

*Descrição da base e suas variáveis*
A base de dados é composta por 12 colunas, denominadas: "country" (país),	"year" (ano),	"sex" (sexo),	"age"(idade),	"suicides_no" (nº suicídio),	"population" (população),	"suicides/100k pop" (nº suicídios a cada 100 habitantes),	"country-year" (país-ano),	"HDI for year" (IDH por ano),	"gdp_for_year ($)" (PIB por ano),	"gdp_per_capita ($)" (PIB per capita),	"generation" (geração). A feature "generation" foi calculada com base na  média de agrupamento etário. As variáveis "age", "suicides_no", "population", "suicides/100k pop" são discretas; já as variáveis "HDI for year", "gdp_for_year ($)", "gdp_per_capita ($)" são contínuas.

### 2) **(15%)** Faça uma avaliação descritiva da sua base. Quantas linhas ela possui? Quais os tipos de dados? Quantas e quais features possuem?

Cada variável escolhida pelo aluno precisa passar por ao menos 1 pré-processamento. O pré-processamento pode ser (mas não está limitado a):
- Checagem se os valores estão dentro de um limite permitido ou razoável.
- Tratamento de valores ausentes por eliminação ou substituição.
- Conversão do tipo de dados.

In [0]:
import numpy as np
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
arquivo_base = "/content/drive/My Drive/Colab Notebooks/suicide-rates-overview-1985-to-2016.csv"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv(arquivo_base)

In [0]:
df.head(5)

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [0]:
df.dropna()

          country  year  ... gdp_per_capita ($)       generation
72        Albania  1995  ...                835     Generation X
73        Albania  1995  ...                835           Silent
74        Albania  1995  ...                835  G.I. Generation
75        Albania  1995  ...                835     Generation X
76        Albania  1995  ...                835     Generation X
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[8364 rows x 12 columns]

In [0]:
#Quantidade de linhas e colunas
df.shape

(27820, 12)

In [0]:
#Tipos de dados
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [0]:
#Quantas e quais features
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [0]:
#Informações estatísticas da base de dados
df.describe()

               year   suicides_no  ...  HDI for year  gdp_per_capita ($)
count  27820.000000  27820.000000  ...   8364.000000        27820.000000
mean    2001.258375    242.574407  ...      0.776601        16866.464414
std        8.469055    902.047917  ...      0.093367        18887.576472
min     1985.000000      0.000000  ...      0.483000          251.000000
25%     1995.000000      3.000000  ...      0.713000         3447.000000
50%     2002.000000     25.000000  ...      0.779000         9372.000000
75%     2008.000000    131.000000  ...      0.855000        24874.000000
max     2016.000000  22338.000000  ...      0.944000       126352.000000

[8 rows x 6 columns]

In [0]:
#Quantidade de suicídas por país (método value_counts() agrupa as informações e faz a soma por linhas do dataset)
pd.value_counts(df['country'])

Austria                   382
Iceland                   382
Netherlands               382
Mauritius                 382
Israel                    372
                         ...
Bosnia and Herzegovina     24
Macau                      12
Cabo Verde                 12
Dominica                   12
Mongolia                   10
Name: country, Length: 101, dtype: int64

In [0]:
#O método isnull() que faz uma verificação em todas as linhas e colunas do dataset em busca de valores faltantes ou nulos
df.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [0]:
#pre-processamento: Checagem se os valores estão dentro de um limite permitido ou razoável, Tratamento de valores ausentes por eliminação ou substituição, Conversão do tipo de dados

In [0]:
#Excluindo a coluna "HDI for year"
df.drop(['HDI for year'], axis=1, inplace=True)

In [0]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [0]:
#Converter os dados da coluna "gdp_for_year ($)" para float

### 4) **(60%)** Nos blocos seguintes construa análises que vão justificar suas conclusões.

#### 4.1) **(20%)** Análise 1 -  Distribuição dos valores para cada uma das variáveis
- Exemplo para variável contínua: se o conjunto de dados possui a variável "idade". Quantos % possui a idade entre 0 e 30 anos? 31 a 59? 60+?

- Exemplo para variável discreta: se o conjunto de dados possui a variável "gênero", quantos % do conjunto de dados é do sexo feminino, quantos % é masculino? Inclua outros gêneros se houver.

In [0]:
# Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

#### 4.2) **(20%)** Análise 2 - Dependência entre variáveis
O aluno deve apresentar as mesmas distribuições para cada valor da variável dependente. Exemplo: Em um conjunto de dados em que as variáveis independentes são idade e sexo, e a variável dependente é renda. O aluno pode dividir a renda em 3 "grupos", <1000 reais, entre 1000 e 10000 reais e >1000 reais. Para cada um desses grupos, é necessário apresentar a distribuição das variáveis "idade" e "sexo".

In [0]:
# Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

#### 4.3) **(20%)** Análise 3 - Correlação entre variáveis

O aluno deve apresentar 3 análises de correlação entre variáveis do conjunto de dados trabalhado. Exemplo: Em um conjunto de dados com as informações de temperatura e ocorrência de incêndios, eu gostaria de saber a incidência de correlação entre as duas variáveis.

In [0]:
# Primeiro par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

In [0]:
# Segundo par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

In [0]:
# Terceiro par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

### 5) Conclusões **15%**

*O que é possível concluir com os dados que você analisou? Se fosse fazer uma apresentação, o que levaria como os maiores destaques e por que?*